body, div, span, small, p, em, i, b,
th, td, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, form, textarea { padding:0; margin:0 }
a { cursor:pointer; text-decoration:none }
a img { border:none }
ul, ol { list-style:none }
table { border-spacing:0; border-collapse:collapse }
input:focus, select:focus, textarea:focus, select:hover, button { margin:0; outline:none }

/* disable firefox gradient */
input, button { background-image:none; }

body, div, span, small, p, em, i, b,
th, td, dl, dt, dd, ul, ol, li, a,
em, i, b{
  font-style: normal;
}
input,textarea{
  color: #666666
}
// *********************点击元素产生背景或边框怎么去掉*************************************//
*,input,textarea {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a,button {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-user-modify:read-only; //这是为只读
}
// *********************点击元素产生背景或边框怎么去掉*************************************//

// **********************************美化表单元素*************************//
//一、使用appearance改变webkit浏览器的默认外观
input,select { -webkit-appearance:none; appearance: none; }
//二、winphone下，使用伪元素改变表单元素默认外观
//1.禁用select默认箭头，::-ms-expand修改表单控件下拉箭头，设置隐藏并使用背景图片来修饰
select::-ms-expand { display:none; }
//2.禁用radio和checkbox默认样式，::-ms-check修改表单复选框或单选框默认图标，设置隐藏并使用背景图片来修饰
input[type=radio]::-ms-check,
input[type=checkbox]::-ms-check { display:none; }
//3.禁用pc端表单输入框默认清除按钮，::-ms-clear修改清除按钮，设置隐藏并使用背景图片来修饰
input[type=text]::-ms-clear,
input[type=tel]::-ms-clear,
input[type=number]::-ms-clear { display:none; }
// **********************************美化表单元素*************************//

html,body{
  -webkit-overflow-scrolling: touch;
  font-family: NotoSansHans-Medium, Noto Sans S Chinese, PingFangSC_L;
  width: 100%;
  height: 100%;
}

// 改变输入框placeholder的颜色值
::-webkit-input-placeholder { /* WebKit browsers */
color: #999; }
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #999; }
::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #999; }
:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #999; }
input:focus::-webkit-input-placeholder{ color:#999; }

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar
{
  display: none;
  background-color: #fff;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 1px rgba(0,0,0,0);
  border-radius: 10px;
  background-color: #F5F5F5;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

input[type="button"], input[type="submit"], input[type="search"], input[type="reset"] {
  -webkit-appearance: none;
}

textarea { -webkit-appearance: none;}

html,body{
  height: 100%;
  width: 100%;
  background-color: #F5F5F5;
}

.clear{
  zoom:1;
}
.clear:before,.clear:after{
  content: '';
  display: block;
  clear: both;
}

